<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2025 - 2026 PICO. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".platform.SpatialApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_spatial_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_spatial_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpatialApp"
        tools:targetApi="31"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".platform.LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.SpatialApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- WindowContainer's name/id -->
            <meta-data
                android:name="pico.spatial.windowcontainer.id"
                android:value="MainPage" />
            <!-- WindowContainer's form
            0: Automatic, a system default setting, set to Planar currently
            1: Planar, a form where the WindowContainer behaves like a normal plane with default depth
            2: Volumetric, a form where the WindowContainer behaves like a volume allowing custom depth
             -->
            <meta-data
                android:name="pico.spatial.windowcontainer.style"
                android:value="1" />
            <!-- Default size of the WindowContainer, uses dp as the default unit -->
            <meta-data android:name="pico.spatial.windowcontainer.defaultsize" android:value="1280x720" />
            <!-- WindowContainer's resize type
            0: Automatic, a system default setting, set to ContentMinSize currently
            1: ContentMinSize, constrains that WindowContainer's size cannot be smaller than root view's minSize
            2: ContentSize, constrains that WindowContainer's size cannot be smaller than root view's minSize and cannot be larger than root view's maxSize
             -->
            <meta-data
                android:name="pico.spatial.windowcontainer.resizetype"
                android:value="2" />
            <!-- WindowContainer's scale type
            0: Automatic, a system default setting, set to Dynamic currently
            1: Dynamic, dynamic scale, the window stays comfortably legible and interactive at any distance by scaling up as it moves away and scaling down as it moves closer, creating the illusion of a consistent size.
            2: Fixed, fixed scale, the window maintains a consistent scale but appears smaller as it moves farther along the z-axis, mimicking how objects in the real world look smaller with distance.
             -->
            <meta-data android:name="pico.spatial.windowcontainer.worldscaletype" android:value="1" />
            <!-- Whether to enable material background, 0: disable, 1: enable -->
            <meta-data
                android:name="pico.spatial.windowcontainer.materialbackground"
                android:value="1" />

        </activity>

        <meta-data android:name="icon.3d.list" android:resource="@array/icon_3d_list" />
        <meta-data android:name="icon.sdf.list" android:resource="@array/icon_sdf_list" />
    </application>

</manifest>
